<footer>
  <hr/>
  <r:yield name="footer" />
  <r:editable_region name="site_footer" scope="site" />
  <p>Copyright <r:date_format format="%Y" value="3 years ago" /></p>
  <p><a href="<r:page:edit_url />">Last Updated: <r:date_format format="%m/%d/%Y" value="{page:updated_at}" /></a></p>
</footer>
