<!DOCTYPE html>
<html>
  <head>
    <title><r:breadcrumbs attr="title,name" no_root="true" no_self="false" text_only="true" reverse="false" separator=" &rarr; "/> | <r:site_name /></title>
    <meta name="description" content="<r:page:meta_description />" />

    <link rel="canonical" href="<r:page:path />" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <r:include_stylesheet name="site" />

    <r:comment>
      You can include individual stylesheets also. They are automatically compressed.
      <r:include_stylesheet name="site" />
      <r:include_stylesheet name="custom/site" />
    </r:comment>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <r:include_javascript name="site" async="true" defer="false" />

    <r:comment>
      You can include multiple javascript files at once by passing a comma separated list
      to the include_javascript tag. Each file will be compressed and all files will
      be combined into one.

      You can include individual javascript files also. They are automatically compressed.
      <r:include_javascript name="site" />
      <r:include_javascript name="site/siteb" />
    </r:comment>

    <r:comment>
      {{ adam }}

      {% slate_internals %}
    </r:comment>

    <r:if_content_for name="page_javascript">
      <script type="text/javascript">
        <r:yield name='page_javascript' />
      </script>
    </r:if_content_for>

    <r:comment>This is and example of using <r:yield /> with a nested <r:content /> tag.</r:comment>
    <r:yield name="page_styles">
      <style>
        <r:content />
      </style>
    </r:yield>
  </head>
  <body id="<r:page:template:name />" data-site-id="<r:site:id />" data-site-name="<r:site:name />">
    <!-- Header content -->
    <r:partial name="header" />

    <!-- Main content -->
    <div id="main_content" class="container">
      <r:yield />

      <!-- Footer content -->
      <r:partial name="footer" />
    </div>
  </body>
</html>
