<!--
Content could go here. This is just an example of using a partial from within a template.
-->

<r:content_for name="footer">
  <p>This was also injected from within the '<r:page:template:name />' template via 
  an include of the '_example_partial.html' partial</p>
</r:content_for>
