<li class="depth-<r:page:depth />">
  <a href="<r:page:url/>"><r:page:name /></a>
  <r:if_ancestor>
    <r:if_children>
      <r:children:each include_hidden="true">
        <ul>
          <r:partial name="site_nav_li" />
        </ul>
      </r:children:each>
    </r:if_children>
  </r:if_ancestor>
</li>