---
layout: default
---

<div class="content">
  <div class="page-header">
    <h2>
      <r:page_name /><small><r:page:attr name="title" /></small>
    </h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="span8">
      <p>
        <r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="No Yet Published" />
        by <span><r:article:author_full_name /></span>
      </p>

      <r:editable_region name="article-body" />
    </div>
    <!-- Sidebar -->
    <div class="span4">
      <h3>Related Articles</h3>
      <r:blog:articles limit="3" tags="{article:tags}" exclude_ids="{article:id}">
        <r:if_articles>
          <ul>
            <r:each>
              <li><a href="<r:article:path />"><r:article:name /></a></li>
            </r:each>
          </ul>
        </r:if_articles>
      </r:blog:articles>


      <h3>Archives</h3>
      <r:blog:archive:monthly date_format="%b %Y" include_count="true" ul_class="awesome-archives" count_class="article-count"/>
    </div>
  </div>
</div>
