---
layout: default

# These are the custom data attributes that can be applied to the page.
custom_data_attributes:
  - magic_name
  - magic_number
  - magic_key
  - Access Code Test
---

<r:content_for name="page_javascript">
  console.log("This JavaScript was added to the <head> section of the layout from within a template.");
</r:content_for>

<div class="container">
  <div class="page-header">
    <r:breadcrumbs ul_id="breadcrumbs" ul_class="breadcrumb" no_self="false" no_root="false" />
    <h2>
      <r:if_parent><r:parent><r:page:first_non_blank_attr names="title,name" /></r:parent> &mdash;</r:if_parent>
      <r:unless_parent>NO PARENT</r:unless_parent>
      <r:page:first_non_blank_attr names="title,name" /><small><r:page:alternate_name /></small>
    </h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col-8">
      <r:editable_region name="main" />
    </div>
    <!-- Sidebar -->
    <div class="col-4">
      <h3>Ancestor Menu</h3>
      <r:ancestor_menu start_depth="1" max_depth="4" ul_id="sub-nav-1" active_class="current" open_class="has-current" />

      <r:editable_region name="sidebar1" />
    </div>
  </div>
</div>
