---
layout: default
---
<r:comment>
  Set a default limit value.
</r:comment>
<r:set_var name="limit" value="{$limit}" default="2"/>

<div class="content">
  <div class="page-header">
    <h2>
      <r:page_name /><small><r:page:attr name="title" /></small>
    </h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="span8">
      <img src="<r:image_url name="022.JPG" />" />
      <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
        <r:set_var name="article_count" value="{count}" />

        <r:if_no_articles>
          <p>No articles found.</p>
        </r:if_no_articles>

        <r:if_articles>
          <ul class="articles unstyled">
            <r:each>
              <li class="article">
                <h3><a href="<r:article:path />"><r:article:name /></a></h3>
                <p>
                  <r:date_format format="%A, %B %d, %Y" value="{article:published_at}" />
                  by <span><r:article:author_full_name /></span>
                </p>
                <div>
                  <r:select_html css_selector="p" limit="2">
                    <r:article:content name="article-body" />
                  </r:select_html>
                </div>
                <p style="text-align: right;"><a class="btn btn-primary" href="<r:article:path />">Read More &hellip;</a></p>
              </li>
            </r:each>
          </ul>
        </r:if_articles>

        <r:pagination>
          <ul class="pager">
            <li class="previous <r:if_first_page>disabled</r:if_first_page>"><a href="<r:previous_url />">&larr; Previous</a></li>
            <li class="next <r:if_last_page>disabled</r:if_last_page>"><a href="<r:next_url />">Next &rarr;</a></li>
          </ul>
        </r:pagination>
      </r:blog:articles>
    </div>
    <!-- Sidebar -->
    <div class="span4">
      <div id="debug1">
        <p><b>Page:</b> <r:var name="page" default="1" /></p>
        <p><b>Limit:</b> <r:var name="limit" /></p>
        <p><b>Total Articles:</b> <r:var name="article_count" /></p>

        <div>
          <h4>Archive</h4>
          <r:blog:archive:monthly />
        </div>
      </div>
    </div>
  </div>
</div>
