---
layout: default
---

<div class="content episode">
  <div class="page-header">
    <h1>Episode: <r:page:name /></h1>
    <r:breadcrumbs attr="title,name" ul_id="breadcrumbs" ul_class="breadcrumb" />
  </div>
  <div class="row">
		<!-- Main content -->
    <div class="span12">
      <div class="text-center">
        <r:page:previous_sibling>
          <a class="btn btn-secondary" href="<r:page:url />">&larr; <r:page:name /></a>
        </r:page:previous_sibling>

        <r:page:next_sibling>
          <a class="btn btn-secondary" href="<r:page:url />"><r:page:name /> &rarr;</a>
        </r:page:next_sibling>
      </div>
      
      <dl id="episode-data" class="well">          
        <div class="title">
          <dt>Title:</dt>
          <dd><r:editable_region name="title" type="simple">What is the title of the episode?</r:editable_region></dd>
        </div>
      
        <div class="episode">
          <dt>Episode #:</dt>
          <dd><r:editable_region name="episode" type="simple">What is the episode number?</r:editable_region></dd>
        </div>
      
        <div class="original_air_date">
          <dt>Original Air Date:</dt>
          <dd><r:editable_region name="original_air_date" type="simple">When did the episode originally air?</r:editable_region></dd>
        </div>
      
        <div class="director">
          <dt>Director:</dt>
          <dd><r:editable_region name="director" type="simple">Who directed this episode?</r:editable_region></dd>
        </div>
      
        <div class="writers">
          <dt>Writer(s):</dt>
          <dd><r:editable_region name="writers" type="simple">Who wrote this episode?</r:editable_region></dd>
        </div>
      
        <div class="synopsis">
          <dt>Synopsis:</dt>
          <dd><r:editable_region name="synopsis">Brief summary of the episode.</r:editable_region></dd>
        </div>
      </dl>

      <div id="main-content">
        <r:editable_region name="content" />
      </div>
    </div>
  </div>
</div>
