---
layout: default
---

<r:content_for name="page_styles">
  .episode-index .page-header { color: red; }
</r:content_for>

<div class="content episode-index">
  <div class="page-header">
    <h1><r:page_name /> <small><r:page:attr name="title" /></small></h1>
  </div>
  <div class="row">
    <!-- Main Content -->
    <div class="span12">
      <form class="form-inline" action="" method="get" role="search">
        <input id="q" class="inline" name="cquery" maxlength="256" placeholder="Find an episode..." type="search" />
        <input class="btn btn-success" name="submit" type="submit" value="Search" />
      </form>

      <r:if v1="{$cquery}" v2="" op="!=">
        <p>
          <r:descendants:count content="{$cquery}" content_keys="title,content,synopsis" content_advanced="false" /> Episodes matching request
        </p>

        <table class="table">
          <thead>
            <th>Season</th>
            <th>Episode</th>
            <th>Title</th>
            <th>Director</th>
            <th>Air Date</th>
          </thead>

          <tbody>
            <r:descendants:each content="{$cquery}" content_keys="title,content,synopsis" content_advanced="false" by="">
              <tr>
                <td><r:replace match="Season " with="" scope="first"><r:parent><r:page:name /></r:parent></r:replace></td>
                <td><r:page:content name="episode" /></td>
                <td><a href="<r:page:url />"><r:page:content name="title" /></a></td>
                <td><r:page:content name="director" /></td>
                <td><r:date_format format="%A, %B %d, %Y"><r:page:content name="original_air_date" /></r:date_format></td>
              </tr>
            </r:descendants:each>
          </tbody>
        </table>
      </r:if>

      <r:if v1="{$cquery}" v2="" op="=">
        <p>
          <r:descendants:count with_template="episode" content="{$cquery}" /> Episodes over <r:children:count /> Seasons
        </p>

        <table class="table">
          <thead>
            <th>Season</th>
            <th>Episode</th>
            <th>Title</th>
            <th>Director</th>
            <th>Air Date</th>
          </thead>

          <tbody>
            <r:children:each>
              <r:children:each with_template="episode">
                <tr>
                  <td><r:replace match="Season " with="" scope="first"><r:parent><r:page:name /></r:parent></r:replace></td>
                  <td><r:page:content name="episode" /></td>
                  <td><a href="<r:page:url />"><r:page:content name="title" /></a></td>
                  <td><r:page:content name="director" /></td>
                  <td><r:date_format format="%A, %B %d, %Y"><r:page:content name="original_air_date" /></r:date_format></td>
                </tr>
              </r:children:each>
            </r:children:each>
          </tbody>
        </table>
      </r:if>
    </div>
  </div>
</div>
