---
layout: default
---

<div class="content">
  <div class="page-header">
    <h1><r:page:name /></h1>
  </div>
  <div class="container">

    <div>
      <!-- Main content -->
      <div class="">
        <h3>Ipsum pulled via Web Request (&lt;r:web_request&gt;)</h3>
        <div id="external-content">
          <r:web_request url="https://baconipsum.com/?paras=5&type=all-meat&start-with-lorem=1" cache_for="5">
            <r:select_html css_selector="div.anyipsum-output" limit="1"><r:response:body /></r:select_html>
          </r:web_request>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Path Variables</h3>
        <ol>
          <li><r:var name="uri1"/></li>
          <li><r:var name="uri2"/></li>
          <li><r:var name="uri3"/></li>
          <li><r:var name="uri4"/></li>
        </ol>
      </div>
    
      <div class="col-4">
        <p class="debug">Cache Key:
          <r:cache_key />
        </p>
        <p class="debug">
          <r:stylesheet_url name="site, custom/site" />
        </p>
        <p class="debug">
          <r:javascript_url name="site, site/siteb" />
        </p>
      </div>
    
      <div class="col-4">
      </div>
    </div>

    <div>
      <p class="debug">Current Domain: <r:site:domain /></p>
      <p class="debug">Current Path: <r:current_url /></p>
      <p class="debug">Current URL: <r:current_url type="full" /></p>
    </div>
  </div>
</div>
