---
layout: default
---

<div class="content file-index">
  <div class="page-header">
    <h1><r:page_name /> <small><r:page:attr name="title" /></small></h1>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="span12">
      <ul class="files">
        <r:files:each labels="download,wvu,profile" types="" labels_match="any" by="created_at" order="asc">
            <li class="span4">
              <span><r:index /> - </span>
              <a href="<r:file:download_url />" data-asset-id="<r:file:id />"><r:file:title /></a>
              <small>(<r:file:filename />)</small>
            </li>
        </r:files:each>
      </ul>
    </div>
  </div>
</div>
