---
layout: default
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
  <r:editable_region name="hero" />
</div>

<!-- Example row of columns -->
<div class="container">
  <div class="row">
    <div class="col-4">
      <r:editable_region name="section_1" />
    </div>
    <div class="col-4">
      <r:editable_region name="section_2" />
    </div>
    <div class="col-4">
      <r:editable_region name="section_3" />
    </div>
  </div>
</div>

<r:content_for name="page_javascript">
  console.log('Hello from content_for.');
</r:content_for>

<r:content_for name="footer">
  <p>This was injected from within the '<r:page:template:name />' template.</p>
</r:content_for>

<r:partial name="example_partial" />
