---
layout: default
---

<div class="content profile-index">
  <div class="page-header">
    <h1><r:page_name /> <small><r:page:attr name="title" /></small></h1>
  </div>
  <div class="row">
		<!-- Main content -->
    <div class="span12">
      <r:comment>
        This is one way to implement the thumbnail grid.
        <r:descendants with_template="profile" by="name" order="asc">
          <p>There are <r:count /> pages using the 'profile' template.</p>

          <ul class="thumbnails">
            <r:each>
              <li class="span4">
                <div class="thumbnail">
                  <a href="<r:page:url />">
                    <r:page:content name="profile_picture" />
                  </a>
                  <div class="caption">
                    <h5><a href="<r:page:url />"><r:page:content name="profile_name" /></a></h5>
                    <p><r:page:content name="profile_description" /></p>
                  </div>
                </div>
              </li>
            </r:each>
          </ul>
        </r:descendants>
    </r:comment>

    <r:comment>This is a more concise way to render the thumbnail grid</r:comment>
    <ul class="thumbnails">
      <r:descendants:each with_template="profile" by="name" order="{$order}" labels="{$tags}" labels_match="{$match}">
        <li class="span4">
          <div class="thumbnail">
            <a href="<r:page:url />">
              <r:page:content name="profile_picture" />
            </a>
            <div class="caption">
              <h5><a href="<r:page:url />"><r:page:content name="profile_name" /></a></h5>
              <p><r:page:content name="profile_description" /></p>
              <p><r:page:content name="profile_notes" /></p>
            </div>
          </div>
        </li>
      </r:descendants:each>
    </ul>
    
    </div>
  </div>
</div>
