---
layout: default
---

<div class="content profile">
  <div class="page-header">
    <r:breadcrumbs ul_class="breadcrumb" />
    <h1><r:page_name /> <small><r:page:attr name="title" /></small></h1>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="span8">
      <r:editable_region name="main" />
    </div>
    <!-- Sidebar -->
    <div class="span4">
      <div class="profile-picture">
        <r:editable_region name="profile_picture">
          Add profile picture here.
        </r:editable_region>
      </div>

      <h3 class="profile-name">
        <r:editable_region name="profile_name" type="simple">
          <r:page:name/>
        </r:editable_region>
      </h3>
      
      <div class="profile-description">
        <h4>Description</h4>
        <r:editable_region name="profile_description" type="simple">
          Enter a brief description of the person.
        </r:editable_region>
      </div>
      
      <r:edit_mode_only>
        <div class="profile-editor-only">
          <h4>Notes</h4>
          <r:editable_region name="profile_notes" type="simple">
            Notes that are only available in the editor.
          </r:editable_region>
        </div>
      </r:edit_mode_only>
    </div>
  </div>
</div>