
body { background-color: #fff; }

/*body.emergency-alert { background: $emergency_bg_color; }*/

.debug { display: none; }

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.cs-generatedNav-ancestor a.current {
  font-weight: bold;
  text-decoration: underline;
}

.rss-items {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    padding: 5px 0;
    border-bottom: 1px solid #BFBFBF;
  }
  
}

.pull-quote {
  width: 30%;  
}

.pull-quote.fill {
  width: 90%;
}

.pull-quote.left {
  float: left;
  margin-right: 10px;
}

.pull-quote.right {
  float: right;
  margin-left: 10px;
}

.span8 .flexslider {
  width: 500px;
}

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

#slideshow1 {
  margin: 0 auto;
}

.profile-index .thumbnail {
  height: 400px;
  overflow-y: auto;
  text-align: center;

  img { max-height: 300px; }

  .caption {
    text-align: left;

    h5 { text-align: center; }
  }
}

.episode {
  #main-content {
    margin-top: 50px;
  }

  #episode-data {
    dt {
      display: inline;
    }

    dd {
      display: inline;
      margin: 0;
    }

    .synopsis dd {
      display: block;
    }
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input { height: auto; }
